

<div class="container">
<app-beer-list [childBeerList] = "masterBeerList" (clickSender)= "editBeer($event)">Hello loading....</app-beer-list>
<app-new-beer (sendBeer)="addBeer($event)"></app-new-beer>
<!-- <button class="btn btn-warning" [(ngModel)]="">Add New Beer</button> -->
<div *ngIf="selectedBeer">
  <input [(ngModel)]="selectedBeer.name">
  <input [(ngModel)]="selectedBeer.brand">
  <input [(ngModel)]="selectedBeer.price">
  <input [(ngModel)]="selectedBeer.abv">
  <button (click)="finishedEditing()" class="btn btn-info">Done</button>
</div>
<div class="crop">
<img id="footerimg" src="../img/footer.jpg">
</div>
</div>
