<h1 class="jumbotron">{{title}}</h1>

<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Price ($)</th>
      <th scope="col">ABV</th>
      <th scrope="col">Pint</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beer of beers">
      <td>{{beer.name}}</td>
      <td>{{beer.brand}}</td>
      <td>${{beer.price}}</td>
      <td>{{beer.ABV}}%</td>
      <!--template statement needs the instance variable used in the ngFor loop. instance variable = beer  -->
      <td><button (click)="sellPint(beer)" class="btn btn-primary">{{beer.pint}}</button></td>
    </tr>
  </tbody>
</table>
</div>
