<h1 class="jumbotron">{{title}}</h1>

<div class="container">
<app-beer-list [childBeerList] = "masterBeerList" (clickSender)= "editBeer($event)">Hello loading....</app-beer-list>
<!-- <button class="btn btn-warning" [(ngModel)]="">Add New Beer</button> -->
<div *ngIf="selectedBeer">
  <input [(ngModel)]="selectedBeer.name">
  <input [(ngModel)]="selectedBeer.brand">
  <input [(ngModel)]="selectedBeer.price">
  <input [(ngModel)]="selectedBeer.abv">
  <button (click)="finishedEditing()" class="btn btn-info">Done</button>
</div>

</div>
